/** @format */

.SearchBar {
  text-align: center;
  margin: 3rem 0 2rem;
}

.SearchBar-input {
  width: 30rem;
}

.SearchBar .message {
  width: 20rem;
  margin: 0 auto 2rem;
  animation: fadeInDown 1s;
}

@media screen and (max-width: 600px) {
  .SearchBar-input {
    width: 20rem;
  }
}

/* resize the App component to fit the window  when it is mobile */
@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
}

/* risize the the searchbar and searchbar-input to fit the window  when it is mobile */
@media screen and (max-width: 600px) {
  .SearchBar {
    width: 100%;
  }
  .SearchBar-input {
    width: 100%;
  }
  .SearchBar .message {
    width: 100%;
  }
}
