/** @format */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url(https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80)
    fixed center center/cover #353535;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  /* make it responsive        */
  @media screen and (max-width: 600px) {
    background-size: cover;
  }
}

button {
  cursor: pointer;
}

p,
li {
  font-size: 1rem;
}

/* h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
} */
